section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  //max-width: 75rem;
  .resume-item {
    .resume-date {
      min-width: none;
    }
  }
}

.section-title {
  text-align: center;
  color: $secondary;
}

#inicio {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  position: relative;
  &::before {
    content: "";
    background-color: $black;
    // background-image: url(/vendor/mdbootstrap/img/overlays/02.png);
    // background-attachment: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
  }
  &::after {
    content: "";
    background-image: url(/img/inicio-bg.jpg?v=2);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}

#manueldev {
  white-space: nowrap;
  display: none;
}
#manueldev-sub {
  white-space: nowrap;
  font-size: 1.4rem;
}

.no-sm {
  display: none;
}

.pc {
  display: none;
}

.tb {
  display: none;
}

/* Contato */
#contato {
  padding-bottom: 0 !important;
}

footer {
  margin-top: 2rem;
}

.img-col-contact, .detail-col-contact {
  text-align: center;
}

#name-contact {
  font-size: 2rem;
}

.icon-contact {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.number-contact {
  font-size: 1.6rem;
  line-height: 1.5rem;
}

.email-contact {
  font-size: 1rem;
  line-height: 1rem;
}

#img-contact {
  max-width: 8rem !important;
  max-height: 8rem !important;
  border: 0.5rem solid fade-out($white, 0.8);
  margin-bottom: 1rem;
}

.contact-link {
  text-decoration: none !important;
  &:hover {
    //background-color: $light;
    text-decoration: none !important;
    color: $secondary !important;
  }
}

@media (min-width: 415px) {
  .sm {
    display: none !important;
  }
  .no-sm {
    display: block !important;
  }
  #manueldev {
    font-size: 3rem;
    line-height: 3rem;
  }
  #manueldev-sub {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .tb {
    display: block;
  }
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
  #inicio {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  #manueldev-sub {
    margin-bottom: 4rem;
    font-size: 3rem;
  }
  #name-contact {
    font-size: 3rem;
    line-height: 2.3rem;
  }
  .social-icons {
    a {
      font-size: 1.3rem;
    }
  }
  .icon-contact {
    font-size: 2.5rem;
    margin-right: 1rem;
  }

  .icon-email-contact {
    font-size: 2rem;
  }

  .number-contact {
    font-size: 2.4rem;
    line-height: 2rem;
  }

  .email-contact {
    font-size: 1.47rem;
    line-height: 1.3rem;
  }
  
  #img-contact {
    max-width: 11rem !important;
    max-height: 11rem !important;
    border: 0.5rem solid fade-out($white, 0.8);
  }
}

@media (min-width: 992px) {
  .pc {
    display: block !important;
  }
  .no-pc {
    display: none !important;
  }
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .img-col-contact{
    text-align: right;
  }
  .detail-col-contact{
    text-align: left;
  }
  #img-contact {
    margin-bottom: 0 !important;
  }
  footer{
    margin-top: 0;
  }
}

