section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-date {
      min-width: none;
    }
  }
}

.section-title {
  text-align: center;
  color: $secondary;
}


.no-sm {
  display: none;
}

#inicio {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  &::before {
    content: "";
    background-image: url(/img/inicio-bg.jpg);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
  }
  &::after {
    content: "";
    background-image: url(/vendor/mdbootstrap/img/overlays/06.png);
    background-attachment: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

#manueldev {
  white-space: nowrap;
  font-size: 4.8rem;
  line-height: 4.5rem;
}
#manueldev-sub {
  white-space: nowrap;
  font-size: 1.6rem;
}

@media (min-width: 415px) {
  #manueldev {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  #manueldev-sub {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .sm {
    display: none;
  }
  .no-sm {
    display: block;
  }
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
  #inicio {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
