section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-date {
      min-width: none;
    }
  }
}

.section-title {
  text-align: center;
  color: $secondary;
}

#inicio {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  &::before {
    content: "";
    background-color: $black;
    // background-image: url(/vendor/mdbootstrap/img/overlays/02.png);
    // background-attachment: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
  }
  &::after {
    content: "";
    background-image: url(/img/inicio-bg.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}

#manueldev {
  white-space: nowrap;
  display: none;
}
#manueldev-sub {
  white-space: nowrap;
  font-size: 1.4rem;
}

.no-sm {
  display: none;
}

.pc {
  display: none;
}

.tb {
  display: none;
}


@media (min-width: 415px) {
  .sm {
    display: none !important;
  }
  .no-sm {
    display: block !important;
  }
  #manueldev {
    font-size: 3rem;
    line-height: 3rem;
  }
  #manueldev-sub {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .tb {
    display: block;
  }
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
  #inicio {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  #manueldev-sub {
    margin-bottom: 4rem;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .pc {
    display: block !important;
  }
  .no-pc {
    display: none !important;
  }
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
